[run]
source =
    sasila
parallel = True

[report]
omit =
    sasila/system_instant/*
    sasila/system_normal/processor/*

exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    except ImportError:
    pass
